[submodule "externals/plibsys"]
	path = externals/plibsys
	url = https://github.com/saprykin/plibsys.git
[submodule "test/externals/catch"]
	path = test/externals/catch
	url = https://github.com/philsquared/Catch.git
[submodule "externals/ltalloc"]
	path = externals/ltalloc
	url = https://github.com/r-lyeh/ltalloc.git
[submodule "externals/libcpuid"]
	path = externals/libcpuid
	url = https://github.com/anrieff/libcpuid.git
[submodule "externals/stb"]
	path = externals/stb
	url = https://github.com/nothings/stb.git
[submodule "externals/dbgtools"]
	path = externals/dbgtools
	url = https://github.com/wc-duck/dbgtools.git
[submodule "tools/emsdk"]
	path = tools/emsdk
	url = https://github.com/juj/emsdk.git
	ignore = dirty
[submodule "externals/cpu_features"]
	path = externals/cpu_features
	url = https://github.com/google/cpu_features.git
	ignore = dirty
[submodule "externals/cpuinfo"]
	path = externals/cpuinfo
	url = https://github.com/pytorch/cpuinfo.git
	ignore = dirty
[submodule "externals/sds"]
	path = externals/sds
	url = https://github.com/antirez/sds.git
[submodule "externals/tiny-regex-c"]
	path = externals/tiny-regex-c
	url = https://github.com/kokke/tiny-regex-c.git
[submodule "externals/utf8proc"]
	path = externals/utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
